*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    min-height: 100vh;
    color: #fff;
    padding: 10px;
    background: linear-gradient(135deg,rgb(7, 92, 78),rgb(129, 48, 48));
}
.calculator{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}
.calculator h1{
    font-size: 50px;
    font-weight: 600;
}
.input-section{
    margin: 40px 0;
    padding: 35px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background: rgba(255,255,255,0.2);
}
.input-section input{
    flex: 1;
    margin-right: 20px;
    padding: 15px 28px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 6px;
    position: relative;
}
.input-section button{
    padding: 13px 28px;
    background-color:rgb(129, 48, 48);
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    outline: 0;
    cursor: pointer;
    /* border: 0; */
}
.input-section button:hover{
    background-color: blue;
    color: black;
}
.input-section input::-webkit-calendar-picker-indicator{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}
